<a href="https://colab.research.google.com/github/ajinkyajumde/Bollywood-Song-Recommender/blob/main/Bollywood_Song_Recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [988]:
import pandas as pd
import numpy as np

In [989]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [990]:
path='/content/drive/MyDrive/Almabetter projects/SONG RECCOMENDER/ex.csv'
df=pd.read_csv(path,encoding='latin1')

In [991]:
df.head()

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating
1,Aankh Marey,"Kumar Sanu, Mika Singh, Neha Kakkar",BollywoodDance,Simmba,8.8/10
2,Coca Cola,"Neha Kakkar, Tony Kakkar",BollywoodDanceRomantic,Luka Chuppi,9.0/10
3,Apna Time Aayega,Ranveer Singh,BollywoodDance,Gully Boy,9.7/10
4,Mungda,"Jyotica Tangri, Shaan, Subhro Ganguly",BollywoodDance,Total Dhamaal,9.1/10
5,Tere Bin,"Asees Kaur, Rahat Fateh Ali Khan, Tanishk Bagchi",BollywoodRomantic,Simmba,9.2/10

In [992]:
df.tail()

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating
2416,Jana Tumhare Pyar Mein,Mukesh,BollywoodDance,Sasural,10-Oct
2417,Tum Jaise Bigde Babu Se,Lata Mangeshkar,BollywoodDance,Jab Pyar Kisi Se Hota Hai,10-Oct
2418,O Yaad Nahi Bhool Gaya,"Lata Mangeshkar, Suresh Wadkar",BollywoodDance,Lamhe,10-Oct
2419,Ladi Re Ladi Tujhse Aankh Jo Ladi,Jagjit Kaur,BollywoodDance,Shola Aur Shabnam,10-Oct
2420,Mummy Aur Daddy Mein Ladai Ho Gayi,Asha Bhosle,BollywoodDance,Shola Aur Shabnam,6.6/10

In [993]:

df.isnull().sum().sort_values(ascending=False)

Singer/Artists    10
Album/Movie        3
Song-Name          0
Genre              0
User-Rating        0
dtype: int64

In [994]:
df.Genre.unique()

array(['BollywoodDance', 'BollywoodDanceRomantic', 'BollywoodRomantic',
       'Bollywood', 'BollywoodDevotional', 'BollywoodRomanticSad',
       'BollywoodDanceSad', 'BollywoodSad', 'BollywoodMotivational',
       'BollywoodRomance', 'BollywoodSensual', 'BollywoodPatriotic',
       'BollywoodRomanticSadSensual', 'BollywoodRomanticSensual',
       'BollywoodDancePatriotic', 'BollywoodMotivationalPatriotic',
       'BollywoodDanceSensual', 'BollywoodDevotionalSad',
       'BollywoodDanceMotivationalPatriotic', 'BollywoodDanceRomance',
       'BollywoodPatrioticSad'], dtype=object)

In [995]:
def text_clboll(a):
  a=a.split('Bollywood')
  
  return a[1]

In [996]:
df['Genre']=df['Genre'].apply(text_clboll)

In [997]:
df['User-Rating'].unique()

array(['8.8/10', '9.0/10', '9.7/10', '9.1/10', '9.2/10', '9.5/10',
       '9.6/10', '8.4/10', '8.6/10', '9.4/10', '8.7/10', '9.3/10',
       '8.5/10', '8.9/10', '8.1/10', '7.7/10', '9.8/10', '6.8/10',
       '8.2/10', '9.9/10', '8.3/10', '7.2/10', '7.6/10', '7.5/10',
       '7.9/10', '7.3/10', '7.4/10', '7.8/10', '8.0/10', '7.0/10',
       '7.1/10', '6.9/10', '6.3/10', '5.8/10', '6.4/10', '10-Oct',
       '09-Oct', '6.6/10'], dtype=object)

In [998]:
df['User-Rating'] = df['User-Rating'].replace(['09-Oct'], np.NaN)
df['User-Rating'] = df['User-Rating'].replace(['10-Oct'], np.NaN)

In [999]:
df['User-Rating'].unique()

array(['8.8/10', '9.0/10', '9.7/10', '9.1/10', '9.2/10', '9.5/10',
       '9.6/10', '8.4/10', '8.6/10', '9.4/10', '8.7/10', '9.3/10',
       '8.5/10', '8.9/10', '8.1/10', '7.7/10', '9.8/10', '6.8/10',
       '8.2/10', '9.9/10', '8.3/10', '7.2/10', '7.6/10', '7.5/10',
       '7.9/10', '7.3/10', '7.4/10', '7.8/10', '8.0/10', '7.0/10',
       '7.1/10', '6.9/10', '6.3/10', '5.8/10', '6.4/10', nan, '6.6/10'],
      dtype=object)

In [1000]:
def rating_cl(a):
  b=[]
  try:
    
    a=a.split('/')
    
    return round(float(a[0]))
  except:
    pass

In [1001]:
df['User-Rating']=df['User-Rating'].apply(rating_cl)

In [1002]:
df['User-Rating']

1        9.0
2        9.0
3       10.0
4        9.0
5        9.0
        ...
2416     NaN
2417     NaN
2418     NaN
2419     NaN
2420     7.0
Name: User-Rating, Length: 2420, dtype: float64

In [1003]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2420 entries, 1 to 2420
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Song-Name       2420 non-null   object
 1   Singer/Artists  2410 non-null   object
 2   Genre           2420 non-null   object
 3   Album/Movie     2417 non-null   object
 4   User-Rating     2407 non-null   float64
dtypes: float64(1), object(4)
memory usage: 113.4+ KB

In [1004]:
df['User-Rating'].fillna(df['User-Rating'].mean(),inplace=True)

In [1005]:
df.columns

Index(['Song-Name', 'Singer/Artists', 'Genre', 'Album/Movie', 'User-Rating'], dtype='object')

In [1006]:
def convert(a):
  a=str(a)
  return a

In [1007]:
df['User-Rating']=df['User-Rating'].apply(convert)

In [1008]:
df['final']=df['Singer/Artists']+' '+df['Genre']+' '+df['Album/Movie']+' '+df['User-Rating']

In [1009]:
df.head()

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating,final
1,Aankh Marey,"Kumar Sanu, Mika Singh, Neha Kakkar",Dance,Simmba,9.0,"Kumar Sanu, Mika Singh, Neha Kakkar Dance Simm..."
2,Coca Cola,"Neha Kakkar, Tony Kakkar",DanceRomantic,Luka Chuppi,9.0,"Neha Kakkar, Tony Kakkar DanceRomantic Luka Ch..."
3,Apna Time Aayega,Ranveer Singh,Dance,Gully Boy,10.0,Ranveer Singh Dance Gully Boy 10.0
4,Mungda,"Jyotica Tangri, Shaan, Subhro Ganguly",Dance,Total Dhamaal,9.0,"Jyotica Tangri, Shaan, Subhro Ganguly Dance To..."
5,Tere Bin,"Asees Kaur, Rahat Fateh Ali Khan, Tanishk Bagchi",Romantic,Simmba,9.0,"Asees Kaur, Rahat Fateh Ali Khan, Tanishk Bagc..."

In [1010]:
df=df.dropna()

In [1011]:
words = df.final

In [1012]:
df.final.iloc[0]

'Kumar Sanu, Mika Singh, Neha Kakkar Dance Simmba 9.0'

In [1013]:
words

1       Kumar Sanu, Mika Singh, Neha Kakkar Dance Simm...
2       Neha Kakkar, Tony Kakkar DanceRomantic Luka Ch...
3                      Ranveer Singh Dance Gully Boy 10.0
4       Jyotica Tangri, Shaan, Subhro Ganguly Dance To...
5       Asees Kaur, Rahat Fateh Ali Khan, Tanishk Bagc...
                              ...
2416               Mukesh Dance Sasural 9.069796427087661
2417    Lata Mangeshkar Dance Jab Pyar Kisi Se Hota Ha...
2418    Lata Mangeshkar, Suresh Wadkar Dance Lamhe 9.0...
2419    Jagjit Kaur Dance Shola Aur Shabnam 9.06979642...
2420              Asha Bhosle Dance Shola Aur Shabnam 7.0
Name: final, Length: 2407, dtype: object

In [1014]:
df.isnull().sum()

Song-Name         0
Singer/Artists    0
Genre             0
Album/Movie       0
User-Rating       0
final             0
dtype: int64

In [1015]:
#using tfidf
from sklearn.feature_extraction.text import TfidfVectorizer
t_vectorizer = TfidfVectorizer(ngram_range=(1, 3),min_df = 3, max_features=None,analyzer='word')

In [1016]:
X= t_vectorizer.fit_transform(words)

In [1017]:
X

<2407x2896 sparse matrix of type '<class 'numpy.float64'>'
	with 28251 stored elements in Compressed Sparse Row format>

In [1018]:
X.shape

(2407, 2896)

In [1019]:
from sklearn.metrics.pairwise import sigmoid_kernel
sig=sigmoid_kernel(X,X)

In [1020]:
sig

array([[0.76173914, 0.76163643, 0.76159883, ..., 0.76159541, 0.76159532,
        0.76159534],
       [0.76163643, 0.76173914, 0.76159416, ..., 0.76159416, 0.76159416,
        0.76159416],
       [0.76159883, 0.76159416, 0.76173914, ..., 0.76159491, 0.76159486,
        0.76159487],
       ...,
       [0.76159541, 0.76159416, 0.76159491, ..., 0.76173914, 0.76160603,
        0.761595  ],
       [0.76159532, 0.76159416, 0.76159486, ..., 0.76160603, 0.76173914,
        0.76170405],
       [0.76159534, 0.76159416, 0.76159487, ..., 0.761595  , 0.76170405,
        0.76173914]])

In [1021]:
# vectorizing the test and train
X_vectorized = t_vectorizer.transform(words)

In [1022]:
X=X.toarray()

In [1023]:
indices=pd.Series(df.index,index=df['Song-Name']).drop_duplicates()

In [1024]:
def recc(title,sig=sig):
  idx=indices[title]
  sig_score=list(enumerate(sig[idx]))
  sig_score=sorted(sig_score,key=lambda x : x[1],reverse=True)
  sig_score=sig_score[1:11]
  mov_ind=[i[0] for i in sig_score]
  return df[['Song-Name','Singer/Artists','Genre','Album/Movie','User-Rating']].iloc[mov_ind]

In [1025]:
df['Song-Name'].unique()

array(['Aankh Marey', 'Coca Cola', 'Apna Time Aayega', ...,
       'O Yaad Nahi Bhool Gaya', 'Ladi Re Ladi Tujhse Aankh Jo Ladi',
       'Mummy Aur Daddy Mein Ladai Ho Gayi'], dtype=object)

In [1026]:
recc("Namo Namo")

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating
67,Jaan Nisaar,Arijit Singh,Romantic,Kedarnath,10.0
208,Raabta,Nikhita Gandhi,Romantic,Raabta,9.0
253,Ullu ka Pattha,"Arijit Singh, Nikhita Gandhi",,Jagga Jasoos,9.0
437,Ittefaq Se Raat Baaki,"Jubin Nautiyal, Nikhita Gandhi",Dance,Ittefaq,9.0
44,Namo Namo,Amit Trivedi,Devotional,Kedarnath,10.0
310,Chota Sa Fasana,Arijit Singh,,Karwaan,10.0
219,Aahista,"Arijit Singh, Jonita Gandhi",Romantic,Laila Majnu,9.0
260,Dhayaan Chand,"Amit Trivedi, Nikhita Gandhi, Suhas Sawant, Vi...",Dance,Manmarziyaan,9.0
995,Bas Tu Hai,"Arijit Singh, Jonita Gandhi",RomanticSad,3 Storeys,9.0
39,Aao Kabhi Haveli Pe,"Badshah, Jigar, Nikhita Gandhi, Sachin Sanghvi",Dance,Stree,8.0